.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
/app/app.iml
/banmabang.iml
/sticker/sticker.iml
/GpuImage/build
/GpuImage/GpuImage.iml
/ImageViewTouch/build
/ImageViewTouch/ImageViewTouch.iml
/sticker/build
/*.iml
/AddressLibrary/AddressLibrary.iml
/xrecyclerview/build
/xrecyclerview/xrecyclerview.iml
/rxdownload2/rxdownload2.iml
/rxdownload2/build
/m3u8manger_lib/build
/m3u8manger_lib/m3u8manger_lib.iml
/ffmpegvideo/ffmpegvideo.iml
/ffmpegvideo/build
/videoglcodec/build
/videoglcodec/videoglcodec.iml